camp-view {
  #contatori {
    label {
      margin-top: 7px;
    }

    ew-readonly-input label {
      display: none;
    }
  }

  .rooms {
    .room {
      height: 8rem;
      border: 1px solid #388e3c;
      background-color: #4caf50;
      border-radius: 5px;
      position: relative;

      .occupazione {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #983800;
        z-index: 100;
      }

      .has-servizi {
        position: absolute;
        bottom: 6px;
        right: 6px;
        color: #ffeb3b;
        z-index: 101;
      }

      h3,
      h4 {
        position: relative;
        color: #fff;
        margin: 0;
        text-align: center;
        z-index: 101;
      }

      h3 {
        font-size: 1.6rem;
        margin-top: 1.6rem;
        font-weight: normal;
      }

      h4 {
        font-size: 1.6rem;

        span {
          font-size: 2.4rem;
        }
      }
    }
  }
}
