<div class="row">
  <div class="col-md-6">
    <ew-panel icon="clock-o">
      <panel-title>
        Effetti in scadenza oggi
        <span class="pull-right" ng-if="$ctrl.payments.length">
          <button class="btn btn-xs btn-default" ng-disabled="$ctrl.paymentsIsLoading ||
                    !$ctrl.arePaymentsChecked($ctrl.payments)"
            ng-click="$ctrl.registerPayments($ctrl.payments)">
            <i class="far fa-money"></i> Porta in prima nota
          </button>
        </span>
      </panel-title>
      <panel-body>
        <div ng-if="$ctrl.paymentsIsLoading" class="text-center">
          <span>
            <i class="far fa-spinner fa-pulse"></i>
          </span>
        </div>
        <h3 ng-if="!$ctrl.paymentsIsLoading && !$ctrl.payments.length">
          <i class="far fa-check-square-o"></i> Nessun effetto in scadenza oggi!
        </h3>
        <table class="table table-striped table-hover" ng-if="!$ctrl.paymentsIsLoading && $ctrl.payments.length">
          <thead>
            <tr>
              <th>
                <input id="checkbox-select-all" type="checkbox" ng-model="$ctrl.selectAllValue" ng-click="$ctrl.selectAll($ctrl.selectAllValue)">
              </th>
              <th>Contratto</th>
              <th>Intestatario</th>
              <th>Scadenza</th>
              <th class="text-right">Importo</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="payment in $ctrl.payments track by payment.id">
              <td>
                <input type="checkbox" ng-model="payment.registrato" ng-disabled="!payment.contract.intestatario.ragione_sociale"
                  ng-if="payment.contract && payment.contract.intestatario">
              </td>
              <td>
                <ew-intra-link state="contracts.edit" icon="true" params="{ id: payment.contract_id }" text="{{ payment.contract_id }}">
                </ew-intra-link>
              </td>
              <td>
                <span ng-if="!payment.contract.intestatario.ragione_sociale" class="text-danger">
                  <ew-intra-link danger="true" icon="true" params="{ id: payment.contract_id }" state="contracts.edit"
                    text="Intestatario non presente!" uib-tooltip="Visualizza contratto">
                  </ew-intra-link>
                </span>
                <span ng-if="payment.contract.intestatario.ragione_sociale">
                  {{ payment.contract.intestatario.ragione_sociale }}
                </span>
              </td>
              <td>{{ payment.data_scadenza | date: 'dd/MM/yyyy' }}</td>
              <td class="text-right">{{ payment.importo | currency }}</td>
            </tr>
          </tbody>
        </table>
      </panel-body>
    </ew-panel>

    <ew-panel icon="clock-o">
      <panel-title>
        Auto in consegna (vendute, ma non consegnate)
      </panel-title>
      <panel-body>
        <div ng-if="$ctrl.carsIsLoading" class="text-center">
          <span>
            <i class="far fa-spinner fa-pulse"></i>
          </span>
        </div>
        <h3 ng-if="!$ctrl.carsIsLoading && !$ctrl.cars.length">
          <i class="far fa-check-square-o"></i> Nessun'auto in consegna!
        </h3>
        <table class="table table-striped table-hover" ng-if="!$ctrl.carsIsLoading && $ctrl.cars.length">
          <thead>
            <tr>
              <th>Targa</th>
              <th>Marca</th>
              <th>Modello</th>
              <th>Contratto</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="car in $ctrl.cars track by car.id">
              <td>
                <ew-intra-link state="cars.edit" params="{ id: car.id, operationId: car.sell_operation.id }" text="{{ car.targa }}">
                </ew-intra-link>
              </td>
              <td>{{ car.marca }}</td>
              <td>{{ car.modello }}</td>
              <td>
                <ew-intra-link icon="true" params="{ id: car.sell_operation.contract_id }" state="contracts.edit" text="{{ car.sell_operation.contract_id }}"
                  uib-tooltip="Visualizza contratto">
                </ew-intra-link>
              </td>
            </tr>
          </tbody>
        </table>
      </panel-body>
    </ew-panel>

  </div>

  <div class="row">
    <div class="col-md-6">
      <ew-panel icon="list-alt">
        <panel-title>
          Contratti aperti
        </panel-title>
        <panel-body>
          <div ng-if="$ctrl.contractsIsLoading" class="text-center">
            <span>
              <i class="far fa-spinner fa-pulse"></i>
            </span>
          </div>
          <h3 ng-if="!$ctrl.contractsIsLoading && !$ctrl.contracts.length">
            <i class="far fa-check-square-o"></i> Tutti i contratti sono chiusi!
          </h3>
          <table class="table table-striped table-hover" ng-if="!$ctrl.contractsIsLoading && $ctrl.contracts.length">
            <thead>
              <tr>
                <th class="w_sm">N.</th>
                <th>Data</th>
                <th>Intestatario</th>
                <th>Vendite</th>
                <th class="w_lg">Sbilancio</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="contract in $ctrl.contracts track by contract.id" ng-click="contract.registrato = !contract.registrato">
                <td class="w_sm">
                  <ew-intra-link icon="true" params="{ id: contract.id }" state="contracts.edit" text="{{ contract.id }}"
                    uib-tooltip="Visualizza contratto">
                  </ew-intra-link>
                </td>
                <td>{{ contract.created | date: 'dd/MM/yyyy' }}</td>
                <td>{{ contract.intestatario.ragione_sociale }}</td>
                <td>
                  <span ng-repeat="car in contract.cars.SELL" class="badge">
                    {{ car }}
                  </span>
                </td>
                <td class="w_lg">
                  <span ng-if="$ctrl.hasUnbalance(contract.sbilancio_contratto)">
                    <b class="text-danger"><i class="far fa-times"></i> SBILANCIO</b>
                  </span>
                  <span ng-if="!$ctrl.hasUnbalance(contract.sbilancio_contratto)">
                    <b class="text-success"><i class="far fa-check"></i> OK</b>
                    <span ng-if="$ctrl.hasUnbalance(contract.effetti_non_registrati)" uib-tooltip="Ci sono effetti non registrati"
                      class="text-warning">
                      <i class="far fa-warning"></i>
                    </span>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </panel-body>
      </ew-panel>
    </div>

    <div class="col-md-6">
      <ew-panel icon="list-alt">
        <panel-title>
          Note
        </panel-title>
        <panel-body>
          <form ng-submit="$ctrl.saveNotes()" class="action-{{$ctrl.action}}" name="$ctrl.form" autocomplete="off"
            novalidate>
            <ew-textarea name="note" label="" value="$ctrl.notes" on-change="$ctrl.updateNotes($event)">
            </ew-textarea>
            <ew-save-button form-dirty="$ctrl.form.$dirty"></ew-save-button>
          </form>
        </panel-body>
      </ew-panel>
    </div>
  </div>
</div>