<div class="mar-top-1">
  <row style="grid-template-columns: repeat(5, 120px)">

    <input type="date">
    
    <input type="date">

    <button
      type="button"
      class="btn btn-primary"
      ng-click="$ctrl.multipleCheckIn()"
    >
      Check-in
    </button>
    <button
      type="button"
      class="btn btn-primary"
      ng-click="$ctrl.multipleCheckOut()"
    >
      Check-out
    </button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.assignRoom()">
      Assegna stanza
    </button>
  </row>
</div>

<div class="table-responsive mar-top-1">
  <table
    class="table table-striped table-bordered table-hover"
    id="guests-table"
  >
    <thead>
      <tr>
        <th class="w_xs text-center">
          <input
            type="checkbox"
            ng-click="$ctrl.toggleCheck($ctrl.selectAll)"
            ng-model="$ctrl.selectAll"
          />
        </th>
        <th
          class="sortable"
          ng-click='$ctrl.sortColumn("nome")'
          ng-class='$ctrl.sortClass("nome")'
        >
          Nome
        </th>
        <th
          class="sortable"
          ng-click='$ctrl.sortColumn("cognome")'
          ng-class='$ctrl.sortClass("cognome")'
        >
          Cognome
        </th>
        <th class="w_md">Arrivo</th>
        <th class="w_md">Partenza</th>
        <th class="w_md">Stanza</th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <tr
        ng-repeat="r in $ctrl.model.reservations | orderBy:$ctrl.sortColumnName:$ctrl.sortReverse track by r.id"
      >
        <td class="w_xs text-center">
          <input type="checkbox" ng-model="r.selected" />
        </td>
        <td>{{ r.guest.nome }}</td>
        <td>{{ r.guest.cognome }}</td>
        <td>
          <span ng-if="!r.data_in">
            <a
              href=""
              class="link-check"
              ng-click="!$ctrl.camps.isLoading && $ctrl.checkIn(r)"
            >
              Check-in
            </a>
          </span>
          <span ng-if="r.data_in">{{ r.data_in | date: "dd/MM/yyyy" }}</span>
        </td>
        <td>
          <span ng-if="!r.data_out">
            <a
              href=""
              class="link-check"
              ng-click="!$ctrl.camps.isLoading && $ctrl.checkOut(r)"
              ng-if="r.data_in"
            >
              Check-out
            </a>
            <span ng-if="!r.data_in">Check-out</span>
          </span>
          <span ng-if="r.data_out">{{ r.data_out | date: "dd/MM/yyyy" }}</span>
        </td>
        <!-- TODO: da cambiare non appena mi includi room nella risposta back -->
        <td>{{ r.room_id ? r.room.display_name : '' }}</td>
        <td class="actions">
          <a
            href=""
            class="text-warning"
            ng-click="$ctrl.removeRoom(r.id)"
            uib-tooltip="Rimuovi assegnazione stanza"
            ng-disabled="r.room_id"
          >
            <i class="far fa-fw fa-unlink"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<form ng-submit="" name="$ctrl.fileForm" novalidate id="file-form">
  <ew-upload-button
    name="file_ospiti"
    label="File ospiti"
    value="$ctrl.modelFileOspiti"
    on-change="$ctrl.uploadFile($event)"
    accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
    pattern=".xlsx"
  >
  </ew-upload-button>
</form>

