<div class='page-header' id="top">
  <h1>{{ $ctrl.title }}</h1>
</div>

<div>
  <form ng-submit="$ctrl.submit($ctrl.model)" class="action-{{$ctrl.action}}" name="$ctrl.form" novalidate>

    <row style="grid-template-columns: 2fr 2fr 3fr">
      <ew-text name="nome" label="Nome" value="$ctrl.model.nome" on-change="$ctrl.updateModel($event)" focus="true" required="true">
      </ew-text>
    </row>

    <div class="text-right mar-top-1">
      <button class="btn btn-success" type="submit" ng-disabled="$ctrl.structures.isLoading">
        <i class="far fa-check fa-lg"></i> Salva
      </button>
    </div>
  </form>
</div>