<div class="table-responsive mar-top-1">
  <table
    class="table table-striped table-bordered table-hover"
    id="documents-table"
  >
    <thead>
      <tr>
        <th>Nome</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Modello per aggiunta rapida ospiti</td>
        <td>
          <button class="btn btn-link" ng-click="$ctrl.download('privacy')">
            Scarica documento
          </button>
        </td>
      </tr>
      <tr>
        <td>Modulo privacy</td>
        <td>
          <button class="btn btn-link" ng-click="$ctrl.download('privacy')">
            Scarica documento
          </button>
        </td>
      </tr>
      <tr>
        <td>Piantina struttura A</td>
        <td>
          <button class="btn btn-link" ng-click="$ctrl.download('privacy')">
            Scarica documento
          </button>
        </td>
      </tr>
      <tr>
        <td>Piantine unità abitative</td>
        <td>
          <button class="btn btn-link" ng-click="$ctrl.download('privacy')">
            Scarica documento
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
