<ew-page-header add-button="{ action: 'users.add' }" on-action="$ctrl.onAction(action, value)" header-title="Utenti">

  <right-side>
    <ew-filters-buttons filters="$ctrl.filters" on-refresh="$ctrl.get()" on-reset="$ctrl.resetFiltersAndUpdate()" open-filters-panel="$ctrl.openFiltersPanel('Users.id')">
    </ew-filters-buttons>
  </right-side>

  <under-title>
    <div class="col-sm-5">
      <ew-filters-radio buttons="$ctrl.config.rapidFilters.activeButtons" model="$ctrl.filters['Users.attivo'].value" on-change="$ctrl.filterActive(model)">
      </ew-filters-radio>
    </div>
    <div class="col-sm-2 pull-right text-right">
      <ew-export-table></ew-export-table>
    </div>
  </under-title>
</ew-page-header>

<ew-table-list config="$ctrl.config" data="$ctrl.list" extra="$ctrl.extra" filters="$ctrl.filters" sort="$ctrl.sort"
  on-action="$ctrl.onAction(action, value, $event)" on-sort="$ctrl.onSort(field)" open-filters-panel="$ctrl.openFiltersPanel(field)"
  row-clickable="true">
</ew-table-list>

<ew-pagination
  change-page="$ctrl.changePage(page)"
  change-pagination-limit="$ctrl.changePaginationLimit($event)"
  pagination="$ctrl.pagination">
</ew-pagination>

<users-filters
  field="{{ $ctrl.filterPanel.focusedField }}"
  filters="$ctrl.filters"
  is-open="$ctrl.filterPanel.isOpen"
  on-close="$ctrl.closeFiltersPanel()"
  on-reset="$ctrl.resetFiltersAndUpdate()"
  on-submit="$ctrl.filter($event)">
</users-filters>