<div>
  <h2>Imposta di soggiorno</h2>

  <form ng-submit="$ctrl.submit($ctrl.model)" name="$ctrl.form" novalidate>
    <div class="container">
      <row style="grid-template-columns: 120px 180px 160px">
        <ew-select
          name="y"
          label="Anno"
          value="$ctrl.model.y"
          on-change="$ctrl.updateModel($event)"
          options="::$ctrl.lookup.Years.list"
          required="true"
        ></ew-select>
        <ew-select
          name="tri"
          label="Trimestre"
          value="$ctrl.model.tri"
          on-change="$ctrl.updateModel($event)"
          options="::$ctrl.lookup.Reservations.trimestri"
          required="true"
        ></ew-select>
        <div style="padding-top:20px">
          <button
            class="btn btn-success"
            type="submit"
            ng-disabled="$ctrl.structures.isLoading"
          >
            <i class="far fa-check fa-lg"></i> Scarica report
          </button>
        </div>
      </row>
    </div>
  </form>
</div>
