// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$font-family-base: 'open sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !default;

/// Copy text color
/// @type Color
$text-color: #676a6c !default;

$brand-color: #3a86c7 !default;

$brand-color-dark: #317fc1 !default;