<h1>Assegna a stanze</h1>

<form name="$ctrl.form" ng-submit="$ctrl.submit()" style="float:right;margin-right: 90px;margin-top: -40px;" novalidate>
  <row style="grid-template-columns: 240px">
    <ew-daterange-picker name="daterange" on-change="$ctrl.onDaterangeFilter($event)" value="$ctrl.daterange">
    </ew-daterange-picker>
  </row>
</form>
<hr>
<row style="grid-template-columns: 340px 1fr">
  <section>
    <input type="text" class="form-control" placeholder="Cerca ospite..." ng-model="$ctrl.search" />
    <div ng-repeat="res in $ctrl.camp.reservations | filter: $ctrl.search track by res.id">
      <label>
        <input
          type="checkbox"
          ng-model="res.selected"
          ng-change="$ctrl.countCheck(res.id, res.selected)"
        />
        {{ res.guest.nome }} {{ res.guest.cognome }} | {{ res.data_previsto_in | date:'dd/MM/yyyy' }} - {{ res.data_previsto_out | date:'dd/MM/yyyy' }} {{ res.room_id ? '|' + res.room.display_name : ''}}
      </label>
    </div>
  </section>
  <section id="rooms">
    <button type="button" class="btn btn-primary" ng-click="$ctrl.filterRooms = {}">Tutte</button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.filterRooms = { 'structure_id': 1 }">Camere</button>
    <button type="button" class="btn btn-mini btn-default" ng-click="$ctrl.filterRooms = { 'structure_id': 1, 'ala_vecchia': true }">Ala vecchia</button>
    <button type="button" class="btn btn-mini btn-default" ng-click="$ctrl.filterRooms = { 'structure_id': 1, 'ala_vecchia': false }">Ala nuova</button>
    <button type="button" class="btn btn-mini btn-default" ng-click="$ctrl.filterRooms = { 'structure_id': 1, 'servizi': true }">Con servizi</button>
    <button type="button" class="btn btn-mini btn-default" ng-click="$ctrl.filterRooms = { 'structure_id': 1, 'servizi': false }">Senza servizi</button>
    
    <button type="button" class="btn btn-primary" ng-click="$ctrl.filterRooms = { 'structure_id': 2 }">Unità abitative</button>

    <hr />

    <row style="grid-template-columns: repeat(8, 70px)">
      <button
        ng-repeat="room in $ctrl.rooms | filter: $ctrl.filterRooms track by room.id"
        class="room"
        ng-class="['color--' + room.disponibilita, { 'too-small': room.posti_liberi < $ctrl.countedChecks }]"
        ng-click="$ctrl.assegna(room)"
        ng-disabled="room.posti_liberi < $ctrl.countedChecks"
      >
        <h2>{{ room.display_name }}</h2>
        <i><small>{{ room.posti_liberi }}/</small>{{ room.posti_letto }}</i>
        <div class="room-daily-container">
          <span
          class="room-daily"
          ng-repeat="(k, day) in room.days track by k"
          ng-class="'color--' + day.disponibilita"
          >
        </div>
        </span>
      </button>
    </row>
  </section>
</row>
