<div class='page-header' id="top">
  <h1>{{ $ctrl.title }}</h1>
</div>

<div>
  <form ng-submit="$ctrl.submit($ctrl.model)" class="action-{{$ctrl.action}}" name="$ctrl.form" novalidate>

    <row style="grid-template-columns: 2fr 2fr 3fr">
      <ew-text name="username" label="Nome utente" value="$ctrl.model.username" on-change="$ctrl.updateModel($event)"
        focus="true" required="true">
      </ew-text>

      <ew-text name="password" label="Password" type="password" value="$ctrl.model.password"
        on-change="$ctrl.updateModel($event)">
      </ew-text>

      <ew-text name="email" label="Email" type="email" value="$ctrl.model.email" on-change="$ctrl.updateModel($event)">
      </ew-text>

      <ew-select name="role" label="Ruolo" value="$ctrl.model.role" on-change="$ctrl.updateModel($event)"
        options="::$ctrl.lookup.Users.roles">
      </ew-select>

      <ew-checkbox name="attivo" label="Attivo" value="$ctrl.model.attivo" on-change="$ctrl.updateModel($event)">
      </ew-checkbox>
    </row>

    <div class="text-right mar-top-1">
      <button class="btn btn-success" type="submit" ng-disabled="$ctrl.users.isLoading">
        <i class="far fa-check fa-lg"></i> Salva
      </button>
    </div>
  </form>
</div>