<h1>Data {{ $ctrl.type === 'in' ? 'Check In' : 'Check Out' }}</h1>

<form
  ng-submit="$ctrl.submit($ctrl.model)"
  class="action-{{$ctrl.action}}"
  name="$ctrl.form"
  autocomplete="off"
  novalidate
>
  <row style="grid-template-columns: 120px 80px">
    <ew-datepicker
      name="date"
      label="Data"
      value="$ctrl.model.date"
      on-change="$ctrl.updateModel($event)"
      required="true"
    ></ew-datepicker>
    <ew-timepicker
      name="time"
      label="Ora"
      value="$ctrl.model.time"
      on-change="$ctrl.updateModel($event)"
      required="true"
    ></ew-timepicker>
  </row>

  <hr />

  <ew-save-button form-dirty="$ctrl.form.$dirty"></ew-save-button>
</form>
