<div id="root" ng-if="$ctrl.usingChrome">
  <div ui-view>
    <splash-screen></splash-screen>
  </div>
</div>

<div ng-if="!$ctrl.usingChrome" class="container" style="background-color: #fff; text-align: center; padding: 100px 40px; font-size: 1.4em;">

  <h1>NON STAI UTILIZZANDO GOOGLE CHROME</h1>

  <img src="/assets/chrome-logo.png" width="200px" style="margin: 40px;">

  <p>Questa applicazione richiede Google Chrome per poter funzionare correttamente.</p>

  <p>Puoi scaricarlo gratuitamente sul sito:
    <a href="https://www.google.com/chrome/" title="Scarica Google Chrome">https://www.google.com/chrome/</a>
  </p>
</div>

<app-footer brand="{{ $ctrl.brand }}" version="{{ $ctrl.appVersion }}" current-year="{{ $ctrl.currentYear }}"></app-footer>